body{
    background: url("../../img/bg.png") ;
}

.top_index{
    margin: 30px 5px auto 156px;
}

.top_left {
    position: relative;
    height:42px;
    float:left;
}

.top_mid{
    line-height:35px;
    font-variant: normal;
    vertical-align:middle;
    height:42px;
    width:73%;
    background: url("../../img/top_mid.png") repeat-x;
    border-radius: 8px;
    float:right;
}

.top_mid span{
    display:inline-block;
    vertical-align:middle;
}

.mid_body{
    margin: 80px 10px auto auto;
    background-color: #e5e5e5;
    width: 90%;
    height: 600px;
    float:right;
}

.mid_left{
    margin: 10px;
    left: 150px;
    top: 230px;
    width:284px;
    height:302px;
    position: relative;
    float:left;
}

.mid_left hr{
    position: relative;
    top: 97%;
}

.mid_hr{
    color: #e5e5e5;
    position: absolute;
    width: 2px;
    top: 232px;
    height: 302px;
    left: 39%;
}