<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>蜗牛网OSS系统</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
    <script type="text/javascript" src="../static/system/home/login.js"></script>
</head>

<body>
<div class="top_index">
{#    <div class="top_left"></div>#}
    <div class="top_mid"></div>
{#    <div class="top_right"></div>#}
</div>

<div class="mid_body">
    <div class="mid_left"></div>
    <hr />
</div>

</body>
</html>