<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>蜗牛网O11SS系统</title>
    <link rel="stylesheet" type="text/css" href="../static/common/extjs/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="../static/common/resources/css/index.css" />
    <script type="text/javascript" src="../static/common/extjs/adapter/ext-base.js"></script>
    <script type="text/javascript" src="../static/common/extjs/ext-all.js"></script>
    <script type="text/javascript" src="../static/common/extjs/adapter/ext-basex.js"></script>
    <script type="text/javascript" src="../static/system/home/login.js"></script>
</head>

<body>

<div id="qo-login-panel">


	<span class="qo-login-supported qo-abs-position">
		<span>支持的浏览器</span><br />                        <br />
		<a href="http://www.mozillaonline.com/" target="_blank">Firefox</a><br /><br />
		<a href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx" target="_blank">Internet Explorer 7+</a><br />     <br />
		<a href="http://www.opera.com/download/" target="_blank">Opera 9+</a><br />    <br />
		<a href="http://www.apple.com/safari/download/" target="_blank">Safari 2+</a>
	</span>
  
	<span class="qo-login-signup qo-abs-position">
		<a target=_top href="javascript:addFavorite()">加入收藏</a>
	</span>

	<span class="qo-login-forgot qo-abs-position">
		<a target=_top href="javascript:info()" >联系我们</a>
	</span>
    <span  class="qo-login-panelF qo-abs-position"><span id="loginPanle" /></span>
</div>
</body>

<script type="text/javascript">

</script>
</html>